﻿@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Дякуємо за підтвердження email. Будьте ласкаві, @Html.ActionLink("авторизуйтеся", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
