﻿@{
    ViewBag.Title = "Контакти";
}
<div class="mainbanner">
    <img class="img-responsive" src="/Content/img/Panorama1.jpg">
    <form class="navbar-form navbar-right search hidden-xs" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Шукати...">
        </div>
        <button type="submit" class="btn btn-default">Пошук</button>
    </form>
</div>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    35500<br />
    вул.Паркова, 5<br />
    <abbr title="Phone">Т:</abbr>
    (03633) 4-44-44
</address>

<address>
    <strong>Написати листа:</strong> <a href="mailto:rad_vok@ukr.net">rad_vok@ukr.net</a>
</address>