﻿@{
    ViewBag.Title = "Головна сторінка";
}

<div class="mainbanner">
    <img class="img-responsive" src="/Content/img/Panorama2.jpg">
    <form class="navbar-form navbar-right search hidden-xs" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Шукати...">
        </div>
        <button type="submit" class="btn btn-default">Пошук</button>
    </form>
</div>
<div>
    <form class="navbar-form navbar-right visible-xs" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Шукати...">
        </div>
        <button type="submit" class="btn btn-default">Пошук</button>
    </form>
</div>
<div class="container"><h3 class="text-primary">Останні події</h3></div>
<div class="col-xs-12 owl-carousel owl-theme">
    <div>
        <h4>Зображення</h4>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p><a class="btn btn-primary btn-sm">Детальніше</a></p>
    </div>
    <div>
        <h4>Зображення</h4>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p><a class="btn btn-primary btn-sm">Детальніше</a></p>
    </div>
    <div>
        <h4>Зображення</h4>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p><a class="btn btn-primary btn-sm">Детальніше</a></p>
    </div>
    <div>
        <h4>Зображення</h4>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p><a class="btn btn-primary btn-sm">Детальніше</a></p>
    </div>
    <div>
        <h4>Зображення</h4>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p><a class="btn btn-primary btn-sm">Детальніше</a></p>
    </div>
    <div>
        <h4>Зображення</h4>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p><a class="btn btn-primary btn-sm">Детальніше</a></p>
    </div>
    <div>
        <h4>Зображення</h4>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p><a class="btn btn-primary btn-sm">Детальніше</a></p>
    </div>
    <div>
        <h4>Зображення</h4>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p><a class="btn btn-primary btn-sm">Детальніше</a></p>
    </div>
    <div>
        <h4>Зображення</h4>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p><a class="btn btn-primary btn-sm">Детальніше</a></p>
    </div>
    <div>
        <h4>Зображення</h4>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p><a class="btn btn-primary btn-sm">Детальніше</a></p>
    </div>
    <div>
        <h4>Зображення</h4>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p><a class="btn btn-primary btn-sm">Детальніше</a></p>
    </div>
</div>
<div class="visible-sm col-xs-6">
    <a href=""><img class="img-responsive" src="~/Content/img/HotLine.jpg"></a>
    <div class="list-group">
        <a href="#" class="list-group-item active">
            Домашня сторінка
        </a>
        <a href="#" class="list-group-item">
            Офіційні документи
        </a>
        <a href="#" class="list-group-item">
            Структура
        </a>
        <a href="#" class="list-group-item">
            Заклади
        </a>
        <a href="#" class="list-group-item">
            ЗНО
        </a>
    </div>
</div>
<div class="col-md-9 col-xs-12">
    <h3 class="text-primary">Новини освіти</h3>
    <div class="col-md-7 col-xs-12 col1">
        <h4 class="text-info">Хронологія</h4>
        @foreach (var item in ViewBag.News)
        {
            <div class="col1Item">
                <img src="@item.ImageUrl">
                <h6>@item.Title</h6>
                <h6><small><strong>Автор: </strong><b>@item.Author</b><strong>  Дата: @item.Date</strong></small></h6>
                <p><small>@item.ShortText</small></p>
                <p><small>Детальніше...</small></p>
            </div>
        }
        
        <div class="col1Item">
            <img src="http://ostriv.in.ua/images/publications/4/550/1318339380.jpg">
            <h6>Тут буде знаходитись заголовок майбутньої події</h6>
            <h6><small><strong>Автор:_________ Дата:__________</strong></small></h6>
            <p><small>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</small></p>
        </div>
        <div class="col1Item">
            <img src="http://ostriv.in.ua/images/publications/4/550/1318339380.jpg">
            <h6>Тут буде знаходитись заголовок майбутньої події</h6>
            <h6><small><strong>Автор:_________ Дата:__________</strong></small></h6>
            <p><small>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</small></p>
        </div>
        <div class="col1Item">
            <img src="http://ostriv.in.ua/images/publications/4/550/1318339380.jpg">
            <h6>Тут буде знаходитись заголовок майбутньої події</h6>
            <h6><small><strong>Автор:_________ Дата:__________</strong></small></h6>
            <p><small>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</small></p>
        </div>
    </div>
    <div class="col-md-5 col-xs-12 col2">
        <h4 class="text-info">Популярне у Facebook</h4>
        <div class="col2Item">
            <img src="http://ostriv.in.ua/images/publications/4/550/1318339380.jpg">
            <h6>Тут буде знаходитись заголовок майбутньої події</h6>
            <p>Автор:_________ Дата:__________</p>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        </div>
        <div class="col2Item">
            <img src="http://ostriv.in.ua/images/publications/4/550/1318339380.jpg">
            <h6>Тут буде знаходитись заголовок майбутньої події</h6>
            <p>Автор:_________ Дата:__________</p>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        </div>
        <div class="col2Item">
            <img src="http://ostriv.in.ua/images/publications/4/550/1318339380.jpg">
            <h6>Тут буде знаходитись заголовок майбутньої події</h6>
            <p>Автор:_________ Дата:__________</p>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        </div>
        <div class="col2Item">
            <img src="http://ostriv.in.ua/images/publications/4/550/1318339380.jpg">
            <h6>Тут буде знаходитись заголовок майбутньої події</h6>
            <p>Автор:_________ Дата:__________</p>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        </div>
    </div>
    <div class="col-xs-12">
        <h3 class="text-primary">Останні оприлюднені документи:</h3>
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Тип документу</th>
                    <th>Назва</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var d in ViewBag.Docs)
                {
                    <tr>
                        <td>@d.Type</td>
                        <td><a href="@d.Url">@d.Title</a></td>
                        <td>@d.Date</td>
                    </tr>
                }
                
                <tr>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
                <tr>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-md-3 hidden-sm">
    <a href=""><img class="img-responsive" src="~/Content/img/HotLine.jpg"></a>
    <div class="list-group">
        <a href="#" class="list-group-item active">
            Домашня сторінка
        </a>
        <a href="#" class="list-group-item">
            Офіційні документи
        </a>
        <a href="#" class="list-group-item">
            Структура
        </a>
    </div>
</div>
